<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression-Suite" verbose="2">
	
	<listeners>
		<!--  <listener class-name="listeneres.ITestListenerImpl" /> -->
		<listener class-name="listeneres.IAnnotationTransformerImpl" />
	</listeners>
	
	<test name="UserTests">
		
		<classes>
			<class name="apitests.AuthTest" />
			<class name="apitests.UserTests" />
		</classes>
		
	</test>
</suite>
